/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////// -------------------------- ADMIN AREA  --------------------------------------------- ///////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.dashboard-container{
    display: flex;
    height: 100vh;
}

/* ------------------------------ BARRA LATERAL --------------------------- */

div.dashboard-container div.side-nav{
    background-color: var(--green);
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    padding: 2rem 0;
}


div.dashboard-container div.side-nav div.navigation-container{
    display: flex;
    flex-direction: column;
}
div.dashboard-container div.side-nav a.header-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5rem 2rem 5rem;
}

div.dashboard-container div.side-nav nav.admin-navigation ul li{
    display: flex;
}
div.dashboard-container div.side-nav nav.admin-navigation ul a{
    cursor: pointer;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}

div.dashboard-container div.side-nav nav.admin-navigation ul a.active,
div.dashboard-container div.side-nav nav.admin-navigation ul a:hover{
    background-color: var(--white);
    color: var(--black);
}
div.dashboard-container div.side-nav nav.admin-navigation ul i{
    margin-right: 1rem;
}


@media only screen and (max-width: 768px) {
    div.dashboard-container div.side-nav nav.admin-navigation ul a{
        text-align: center;
    }

    div.dashboard-container div.side-nav nav.admin-navigation ul i{
        margin-right: 0;
    }
}

div.side-nav div.side-nav-footer{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.side-nav p.header_rights{
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: center;
}

/* ------------------------------DASHBOARD CONTAINER--------------------------- */

div.dashboard-container main{
    flex: 0 0 70%;
    padding: 1rem;
    overflow: scroll;
}

div.dashboard-container main h1{
    text-align: center;
    color: var(--darkGreen);
}


/* ------------------------------ HOME / EVENTS --------------------------- */
body#home div.admin-events-container{
    margin-top: 2rem;
}
body#home div.admin-events-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    color: var(--green);
}

body#home nav.admin-events-nav ul{
    display: flex;
    background-color: var(--green);
    border-radius: var(--radius);
    overflow: hidden;
}

body#home nav.admin-events-nav li{
    flex: 0 0 33.3%;
    padding: 1rem 0;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;

}

body#home nav.admin-events-nav button{
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: inherit;
    border: none;
}

body#home nav.admin-events-nav li.active,
body#home nav.admin-events-nav li:hover{
    background-color: var(--darkGreen);
    cursor: pointer;
}

body#home div.admin-events-list{
    padding: 2rem 0;
}

body#home div.admin-events-list div.event-item{
    background-color: var(--grey);
    border-radius: var(--radius);
    padding: 1.5rem;
    border: 2px solid transparent;
    margin-top: 2rem;
}

body#home div.admin-events-list div.event-item:hover{
    transition: all .5s ease;
    border-color: var(--black);
    cursor: pointer;
}
body#home div.admin-events-list div.event-item-content{
    display: flex;
}

body#home div.admin-events-list div.event-item-content div.event-icon-container{
    background-color: var(--white);
    padding: 1rem;
    border-radius: var(--radius);
    font-size: 7rem;
    color: var(--red);
    margin-right: 1rem;

    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

body#home div.event-item div.event-item-content div.event-summary{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body#home div.event-item div.event-item-content div.event-item-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1rem;
}

body#home div.event-item div.event-item-content p.status{
    color: var(--green);
}

/* No hay eventos */
body#home div.admin-events-list div.no-events{
    background-color: var(--grey);
    border-radius: var(--radius);
    padding: 3rem 0;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------- CLIENTS / CLIENTES ------------------------------------ */

div.admin-clients-container{
    padding-top: 1rem;
}
div.admin-clients-container div.client-item{
    padding: 1rem;
    background-color: var(--green);
    border-radius: var(--radius);
    color: var(--white);
    margin-top: 2rem;
}
div.admin-clients-container div.client-item:first-of-type{
    margin-top: 0;
}
div.client-item div.client-item-header{
    display: flex;
    justify-content: end;
}
div.client-item div.client-item-content{
    display: flex;
    align-items: center;
}
div.admin-clients-container div.client-item div.client-pic{
    font-size: 5rem;
    padding: 0 4rem;
}

div.admin-clients-container div.client-item div.client-info p{
    padding: .5rem 0;
}


/* ------------------------------- LOGIN ------------------------------------ */
body#login{
    background-color: var(--grey);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.admin_login_container{
    background-color: var(--green);
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--white);
}
section.admin_login_container h1{
    text-align: center;
}

form#login-admin-form .field input,
form#login-admin-form select,
form#login-admin-form textarea{
    background-color: var(--white);
    font-size: 1.8rem;
    font-weight: bold;
}

/* ------------------------------- CONFIGURACIONES ------------------------------------ */

div.settings-list-container{
    margin-top: 5rem;
    border-top: 2px solid var(--green);
}
div.settings-list-container:first-of-type{
    margin-top: 2rem;
    border-top: 2px solid transparent;
}

div.settings-list-container form .field input,
div.settings-list-container form select,
div.settings-list-container form textarea{
    color: var(--black);
    background-color: var(--grey);
    border: 1px solid var(--black);
}

div.settings-list-container form .submit input{
    margin-right: 1rem;
}

div.setting-item{
    background-color: var(--grey);
    border-radius: var(--radius);
    padding: 1rem 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
