/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
  
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
  
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
  
  /*
   * A better looking default horizontal rule
   */
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
  
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
  
  /*
   * Remove default fieldset styles.
   */
  
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
textarea {
    resize: vertical;
}
  
/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
  
/* ==========================================================================
    Author's custom styles
========================================================================== */
  
:root{
    /* colores principales */
    --black: #1F1C1C;
    --red: #F15152;
    --green: #1E555C;
    --grey: #EFF1ED;
    /* COLORES APOYO */
    --white: #ffffff;
    --darkGreen: #133439;

    /* radius objects */
    --radius: 2rem;
    --formRadius: .7rem;
}
  
html{
  /* APLICA UN NATURAL LAYOUT A TODOS LOS ELEMENTOS, PERO PERMITIENDO A LOS COMPONENTES CAMBIAR */
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
    font-family: 'Rubik', sans-serif;
    background: #fff;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: none;
    margin: 0;
     padding: 0;
}
img{
  max-width: 100%;
}

  /* ////////////////////////// -----------------------------GLOBALES ---------------------- //////////////////////////////*/
main#main-container{
    min-height: 70vh;
}
  /* CONTAINERS */
.container{
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width: 480px ) {
    .container{
      width: 95%;
    }
}
@media only screen and (min-width: 768px ) {
    .container{
      width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    .container{
      width: 90%;
      max-width: 120rem;
    }
}

h1, h2, h3, h4, p{
    margin: 0;
}
h1{
    font-size: 3.8rem;
}
h2 {
   font-size: 3.5rem;
}
h3{
   font-size: 3rem;
}
h4{
   font-size: 2.5rem;
}
p{
     font-size: 2.2rem;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

   /* Para el texto Responsivo */
 @media only screen and (max-width: 479px) {
h1{
    font-size: 3.2rem;
}
h2 {
    font-size: 3.1rem;
}   
h3{
    font-size: 2.6rem;
}
h4{
    font-size: 2.2rem;
}
p,a{
    font-size: 1.3rem;
}
}

/* ////////// ------------------- UTILITIES ------------------------ /////// */
/* esconde en pantallas pequenas */
@media only screen and (max-width: 420px) {
    .hide_small{
      display: none;
    }
}
/* esconde en pantallas medianas */
@media only screen and (max-width: 768px) {
    .hide_medium{
      display: none;
    }
}
  /* esconde en pantallas grandes */
  @media only screen and (max-width: 992px) {
    .hide_large{
      display: none;
    }
}

.disabled{
    pointer-events: none!important;
    cursor: default!important;
    color: var(--darkGrey)!important;
    background-color: var(--lightGrey)!important;
    border: 1px solid var(--darkGrey)!important;
    user-select: none!important;
}

/* ////////// ------------------- BOTTOMS SYLES ------------------------ /////// */
.btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: var(--radius);
    cursor: pointer;
    border: 2px solid;
    transition: all .2s ease;
    border-color: transparent;
    /* sombra */
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.51);
-webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.51);
-moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.51);
}

/* RED BUTTOM */
.btn_red{
    color: var(--white);
    background-color: var(--red);
}
.btn_red:hover{
    color: var(--red);
    background-color: var(--white);
    border-color: var(--red);
}

/* GREEN BUTTOM*/
.btn_green{
    color: var(--white);
    background-color: var(--green);
}
.btn_green:hover{
    color: var(--green);
    background-color: var(--white);
    border-color: var(--green);
}

/* WHITE BUTTOM */
.btn_white{
    color: var(--green);
    background-color: var(--white);
}
.btn_white:hover{
    color: var(--white);
    background-color: var(--green);
    border-color: var(--white);
}

/* BLACK BUTTOM */
.btn_black{
    color: var(--white);
    background-color: var(--black);
}
.btn_black:hover{
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}


/* ------------------ GENERAL FORMS STYLES ------------------------------ */
form .field{
    padding-top: 1.5rem;
}
form .field label{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

form .field input,
form .field select,
form .field textarea{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: var(--formRadius);
    background-color: transparent;
    width: 100%;
    border: 1px solid var(--black);
    text-align: center;
}

::placeholder{
    color: var(--green);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--green);
}

form .field input[type=checkbox]{
    width: auto;
}

form .col_2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

form .col_2 > div{
    width: calc(50% - .5rem);
}

@media only screen and (max-width: 768px ) {
    form .col_2{
        flex-direction: column;
    }
    form .col_2 > div{
        width: 100%;
    }
}

form .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 1rem 0;
}

form .submit > input:last-child{
    margin-left: 1rem;
}

/* ///////////////////------------------------CSS MODAL------------------------///////////// */
div.modal_container{
    /* Debe ir display: none; */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    /*Location of the box */
    /* padding: 5rem 0;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed */
    /*Black w/ opacity */
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}
div.modal_container .myModal{
    background-color: #fff;
    border-radius: var(--radius);
    margin: 5rem auto;
    display: block;
}
  
/* Header del modal */
div.myModal div.modal_header{
    display: flex;
    justify-content: end;
    padding: 0 1rem;
}
div.myModal div.modal_header button.close_modal{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

/*////////////////////// -------------------------- NOTIFICACION --------------------------------------------- ///////////////////////*/
.notification{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    right: 1rem;  
    padding: 1.5rem 3rem;
    opacity: 0;
    transition: .5s ease;
    z-index: 5;
    border-radius: 1rem;
    border: 1px solid var(--white);
  }
  @media only screen and (max-width: 420px ) {
    .notification{
      left: 1rem;
    }
  }
  .visible{
    opacity: 1;
  }
  /* colores de la notificaciones */
  .n_error,
  .n_error p{
    background-color: var(--red);
    color: #fff;
    font-weight: bold;
  }
  .n_success,
  .n_success p{
    background-color: var(--green);
    color: #fff;
  }

/*////////////////////// -------------------------- CARRUSEL DE IMAGENES --------------------------------------------- ///////////////////////*/
div.carrousel_container{
    position: relative;
}
div.carrousel_container div.carrousel-btns-container{
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
}

/*////////////////////// -------------------------- HEADER --------------------------------------------- ///////////////////////*/
header.web_header .fixed_bar{
    background-color: #fff;
    padding: 1.5rem 0;
    /* CODIGO PARA FIJAR LA BARRA DEL HEADER */
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
      left: 0; /* Posicionamos la cabecera al lado izquierdo */
      top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 3;
    /* Sombra */
    border-bottom: 1px solid var(--grey);
}
header.web_header .fixed_bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.web_header .logo{
    width: 15rem;
}
@media only screen and (max-width: 420px) {
    header.web_header .logo{
        width: 10rem;
    }
}
header.web_header .navigation ul{
    display: flex;
}
header.web_header .navigation ul li{
    margin: 0 .5rem;
}

/* para que nada quede debajo del header */
header.web_header .bar_space{
    height: 5.5rem;
}

/*////////////////////// -------------------------- FOOTER --------------------------------------------- ///////////////////////*/
footer{
    background-color: var(--red);
    padding: 3rem 0 1rem 0;
}
footer div.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div.footer_logo{
    width: 20rem;
}
/* esconde en pantallas medianas */
@media only screen and (max-width: 768px) {
    footer div.footer_logo{
        width: 20rem;
    }
}
footer nav.social_media_nav ul{
    display: flex;
    align-items: center;
}
footer nav.social_media_nav a.social_media{
    display: block;
    text-align: center;
    color: var(--black);
    width: 4rem;
    height: 4rem;
    padding: 0 .5rem;
    border-radius: 4rem;
    margin: 0 .5rem;
    font-weight: bold;
    font-size: 3rem;
}

footer nav.social_media_nav a.social_media:hover{
    color: var(--grey);
}

footer div.rights{
    color: var(--white);
    text-align: center;
    padding-top: 2rem;
    font-size: 1.8rem!important;
}

footer div.rights p{
    font-size: 1.8rem!important;
}

/*////////////////////// -------------------------- HOME --------------------------------------------- ///////////////////////*/

/* INICIO */
section.home-title{
    background-color: var(--green);
    color: var(--grey);
   
}
section.home-title div.container{
    border-bottom: 1px solid var(--grey);
    display: flex;
    padding: 7rem 0;
}
section.home-title div.container div.title{
    flex: 0 0 40%;
}

/* --------------------- SECCION DE EVENTOS Y DE SERVICIOS --------------------------*/
section.home-events{
    background-color: var(--green);
    color: var(--grey);
}
section.home-services h2{
    color: var(--green);
}
section.home-events div.container,
section.home-services div.container{
    padding: 2rem 0;
}

section.home-events div.event-list,
section.home-services div.service-list{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

section.home-events ul.event-icon-container{
    flex: 0 0 20rem;
    display: flex;
    flex-wrap: wrap;
}

section.home-services ul.service-icon-container{
    flex: 0 0 10rem;
    display: flex;
    flex-wrap: wrap;
}

section.home-events ul.event-icon-container li,
section.home-services ul.service-icon-container li{
    flex: 0 0 calc(50% - 3rem);
    background-color: var(--grey);
    margin: 0 1rem 1rem 0;
    padding: .5rem 0;
    font-size: 4rem;
    color: var(--red);
    border-radius: var(--radius);
    text-align: center;
    cursor: pointer;
}

section.home-services ul.service-icon-container button{
    background-color: inherit;
    border: none;
    color: inherit;
}

section.home-events ul.event-icon-container button{
    border: none;
    background-color: inherit;
    color: inherit;
}

section.home-services ul.service-icon-container li{
    flex: 0 0 calc(100% - 3rem);
    background-color: var(--green);
    color: var(--white);
}
section.home-events ul.event-icon-container li:hover,
section.home-events ul.event-icon-container li.active{
    background-color: var(--red);
    color: var(--grey);
}

section.home-services ul.service-icon-container li:hover,
section.home-services ul.service-icon-container li.active{
    background-color: var(--red);
    color: var(--green);
}

/* detalle de evento */
section.home-events div.event-detail-container,
section.home-services div.service-detail-container{
    flex: 0 0 75%;
}
section.home-events div.event-detail-container div.event-detail,
section.home-services div.service-detail{
    text-align: center;
    padding: 1rem 5rem;
    display: none;
}

section.home-events div.event-detail-container div.event-detail:first-of-type,
section.home-services div.service-detail:first-of-type{
    display: block;
}

/* SECCION DE SERVICIOS */

/*  -----------RESPONSIVE DESIGN----------------*/
@media only screen and (max-width: 768px) {
    section.home-events div.event-list{
      flex-direction: column;
    }
    section.home-events ul.event-icon-container{
        flex: 0 0 100%
    }
    section.home-events div.event-detail-container{
        flex: 0 0 100%;
    }
}

/* -------- SECCION DE NUESTRO EQUIPO --------------------- */
section.our-team h2{
    color: var(--green);
}
section.our-team div.team-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
}

section.our-team div.team-container div.team-member{
    flex: 0 0 calc(33.3% - 2rem);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    border-radius: var(--radius);
    height: 50rem;

    align-items: baseline;
    justify-content: center;
    padding-bottom: 2rem;
    color: white;
    font-size: bold;
    position: relative;
    
}


section.our-team div.team-container div.team-member h3{
    z-index: 2;
    align-self: flex-end;
    font-size: 2.2rem;
}

section.our-team div.team-container div#team-member-1{
    background-image: url('../img/Img_Miembro1.png');
}
section.our-team div.team-container div#team-member-2{
    background-image: url('../img/Img_Miembro2.png');
}
section.our-team div.team-container div#team-member-3{
    background-image: url('../img/Img_Miembro3.png');
}

section.our-team div.team-container div.translucent-layer{
    /* flex: 1; */
    background-color: var(--green);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
@media only screen and (max-width: 1120px) {
    section.our-team div.team-container div.team-member{
        height: 40rem;
    }
}
@media only screen and (max-width: 768px) {
    section.our-team div.team-container div.team-member{
        height: 30rem;
    }
    section.our-team div.team-container div.team-member h3{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 420px) {
    section.our-team div.team-container div.team-member{
        height: 20rem;
    }
}

/*////////////////////// -------------------------- LOGIN / INICIO SESION --------------------------------------------- ///////////////////////*/
body#login main,
body#signup main{
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}

body#login div.login-container,
body#signup div.signup-container{
   color: var(--white);
   text-align: center;
}

body#signup div.signup-container{
    padding: 7rem 0;
 }

body#login div.form-container,
body#signup div.form-container{
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 2rem;
    margin-top: 2rem;
}
/*////////////////////// -------------------------- RECOVERY / RECUPERARCION CONTRASENA --------------------------------------------- ///////////////////////*/
body#recovery main{
    display: flex;
    align-items: center;
    justify-content: center;
}
body#recovery div.recovery-container{
    text-align: center;
    color: var(--green);
}

body#recovery div.recovery-container div.form-container{
   background-color: var(--green);
   border-radius: var(--radius);
   padding: 1rem;
}

body#recovery div.form-container form input[type]:not([type=submit]){
    color: var(--white);
    border-color: var(--white);
 }



/*////////////////////// -------------------------- PROFILE / PERFIL --------------------------------------------- ///////////////////////*/
body#profile h1{
    color: var(--green);
}

body#profile div.client-profile{
    margin: 5rem 0;
    background-color: var(--green);
    border-radius: var(--radius);
    padding: 1rem;
    align-items: center;
    color: var(--white);
}

body#profile div.client-profile div.client-profile-header{
    display: flex;
    justify-content: end;
}

body#profile div.client-profile div.client-profile-content{
    display: flex;
}

body#profile div.client-profile div.client-pic{
    font-size: 10rem;
    padding: 0 5rem;
}

body#profile div.client-profile div.client-info p{
    padding: .5rem 0;
}

body#profile div.client-events-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    color: var(--green);
}

body#profile nav.client-events-nav ul{
    display: flex;
    background-color: var(--green);
    border-radius: var(--radius);
    overflow: hidden;
}

body#profile nav.client-events-nav button{
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: inherit;
    border: none;
}

body#profile nav.client-events-nav li{
    flex: 0 0 33.3%;
    padding: 1rem 0;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;

}

body#profile nav.client-events-nav li.active,
body#profile nav.client-events-nav li:hover{
    background-color: var(--darkGreen);
    cursor: pointer;
}

body#profile div.client-events-list{
    padding: 2rem 0;
}

body#profile div.client-events-list div.event-item{
    background-color: var(--grey);
    border-radius: var(--radius);
    padding: 1.5rem;
    border: 2px solid transparent;
    margin-top: 2rem;
}

body#profile div.client-events-list div.event-item:hover{
    transition: all .5s ease;
    border-color: var(--black);
    cursor: pointer;
}
body#profile div.client-events-list div.event-item-content{
    display: flex;
}

body#profile div.client-events-list div.event-item-content div.event-icon-container{
    background-color: var(--white);
    padding: 1rem;
    border-radius: var(--radius);
    font-size: 7rem;
    color: var(--red);
    margin-right: 1rem;

    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

body#profile div.event-item div.event-item-content div.event-summary{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body#profile div.event-item div.event-item-content div.event-item-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 1rem;
}

body#profile div.event-item div.event-item-content p.status{
    color: var(--green);
}

/* No hay eventos */
body#profile div.client-events-list div.no-events{
    background-color: var(--grey);
    border-radius: var(--radius);
    padding: 3rem 0;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL DE EDITAR USUARIO */
div.modal-edit-client{
    width: 50%;
    padding: 3rem;
}

@media only screen and (max-width: 768px) {
    div.modal-edit-client{
        width: 75%;
    }
}

/*////////////////////// -------------------------- REQUEST / SOLICITUD --------------------------------------------- ///////////////////////*/
body#request h1{
    color: var(--green);
}
body#request div.request-form-container{
    padding: 3rem 0;
}

body#request form input[type]:not([type=submit]),
body#request form select,
body#request form textarea{
    background-color: var(--grey);
}

form div.request-form-services{
    display: flex;
    flex-wrap: wrap;
}
form div.request-form-services .field{
    flex: 0 0 50%;
}
form div.request-form-services label{
    font-size: 1.8rem;
}

form div.request-form-services i{
    color: var(--red);
    margin-right: 1rem;
}
/*////////////////////// -------------------------- EVENT / EVENTO --------------------------------------------- ///////////////////////*/
body#event h1{
    color: var(--green);
}

body#event div.event-detail-container{
    background-color: var(--grey);
    padding: 1rem;
    border-radius: var(--radius);
    margin: 4rem 0;
}
body#event div.event-detail-container p.error{
    text-align: center;
}

body#event div.event-detail-container div.event-detail-header{
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
}

body#event div.event-detail-container div.event-detail-header button{
    margin-left: 1rem;
}

body#event div.event-detail-container div.event-sumary-container{
    display: flex;
    padding: 2rem;
}

body#event div.event-detail-container div.event-icon{
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 1rem 3rem;
    color: var(--red);
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
body#event div.event-detail-container div.event-summary{
    flex-grow: 1;
    padding-left: 1rem;
}

body#event div.event-detail-container div.event-summary-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

body#event div.event-detail-container div.event-summary-header p.status{
    color: var(--green);
    font-weight: bold;
}

body#event div.event-detail-container div.event-details-container{
    display: flex;
    padding-top: 2rem;
}
body#event div.event-detail-container div.event-details-container > div{
    flex: 0 0 33.3%;
    padding: 0 1rem;
    text-align: center;
}
body#event div.event-detail-container div.event-details-container div.left-details{
    text-align: left;
}


body#event div.event-detail-container div.event-details-container p.subtitule{
    flex: 0 0 33.3%;
    padding: 0 1rem;
    text-align: center;
}

